@import url('https://fonts.googleapis.com/css?family=Cinzel|Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Grenze|Josefin+Sans|PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|DM+Serif+Display|Grenze|Inknut+Antiqua|Josefin+Sans|PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Be+Vietnam|DM+Serif+Display|Federo|Grenze|Inknut+Antiqua|Josefin+Sans|PT+Serif&display=swap');


/* ALERT */
.alert {
    margin-bottom: 0;
    border-radius: 0;
}

/* MODAL */
.modal-content {
    border-radius: 0;
    border: 1px solid #d0d0d0;
}

.modal-title {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    color: rgb(63, 63, 63);
    font-size: 23px;
}

.modal-header {
    border-bottom: 0;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.submit {
    width: 100%;
    border-radius: 0;
    background-color: rgb(252, 101, 0);
    border: 1px solid rgb(252, 101, 0); 
    color: white;
}
.submit:hover {
    background-color: rgb(255, 190, 146);
    border: 1px solid rgb(255, 190, 146);
    color: white;
}

.form-group input {
    border-radius: 0;
    border: 2px solid rgb(209, 209, 209);
}




/* NAV BAR */
.navbar {
    background-color: rgb(37, 37, 37);
}

.navbar li a {
    font-size: 16px;
    /* color: rgb(230, 230, 230); */
    padding-bottom: 0;
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    color: white;
    transition: transform 1s;
    letter-spacing: 1px;
}
.navbar-brand:hover {
    transform: rotate(-10deg);
    /* transform: skewX(20px); */
    color: white;
}


/* CAROUSEL */
.carousel {
    margin-top: 40px;
}

.carousel img {
    height: 500px;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}

.carousel-caption h1{
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-size: 45px;
    letter-spacing: 1px;
}

.carousel-caption p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#carousel1 .carousel-caption{
    bottom: 30;
}
#carousel2 .carousel-caption {
    bottom: 30;
}

.carousel .btn {
    border-radius: 0;
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
    background-color: rgb(252, 101, 0);
    border: 1px solid rgb(252, 101, 0); 
    color: white;
    width: 150px;
}
.carousel .btn:hover {
    background-color: rgba(51, 51, 51, 0.911);
    border: 2px solid white;
}


/* SPOTLIGHT */
.sp-container h2{
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    color: rgb(37, 37, 37);
    font-size: 27px;
    text-align: center;
}

.sp-container img {
    width: 240px;
    display: block;
}

.sp-container h3 {
    color: rgb(37, 37, 37);
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0.5px;
}

.sp-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(51, 51, 51);
    width: 90%;
}

.sp-container .btn {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: 3px solid rgb(252, 101, 0);
    color: rgb(252, 101, 0);
    border-radius: 0;
}
.sp-container .btn:hover {
    background-color: rgb(252, 101, 0);
    border: 2px solid rgb(252, 101, 0);
    color: white;
}


/* QUOTE SECTION */
.superdiv {
    width: 100%;
}

#aboutImg {
    width: 100%;
}

.card {
    border: none;
}

.card-body p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(63, 63, 63);
}

#quote img{
    width: 40px;
    margin-bottom: 16px;
}

#quote p {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: rgb(37, 37, 37);
}
.superdiv .btn {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 0;
    background-color: rgb(252, 101, 0);
    border: 2px solid rgb(252, 101, 0); 
    color: white;
}
.superdiv .btn:hover {
    background-color: rgba(255, 102, 0, 0.603);
    border: 2px solid rgba(255, 102, 0, 0.603);
    color: white;
}


/* JUMBOTRON */
.jumbotron {
    position: fixed;
    width: 100%;
    background: url(http://villasautorepair1.com/wp-content/uploads/2019/05/pexels-photo-190574-845x510.jpeg);
    background-size: cover;
    z-index: -200;
}

.jumbotron>.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.658), rgba(51, 51, 51, 0.164));
    z-index: 1;
}

.jumbotron>.inner {
    position: relative;
    z-index: 2;
    padding: 70px 30px;
    padding-bottom: 0;
}

.jumbotron h1 {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
}

.jumbotron p {
    color: rgb(245, 245, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.spHolder {
    height: 230px;
    width: 100%;
}

.about-bg {
    background-color: white;
    padding: 30px;
}

.about-bg h4 {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    font-size: 30px;
    color: rgb(252, 117, 27);
}

.about-bg p {
    line-height: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 51, 51);
}


/* FOOTER */
footer li a{
    color: rgba(252, 101, 0, 0.849);
}

/* TEAM */
.t-container {
    margin-top: 50px;
}

.t-container img {
    width: 100%;
}

.t-container img:hover {
    filter: grayscale(4);
}

.t-container h4 {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 117, 4, 0.726);
}

.t-container p {
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hd-container {
    margin-top: 40px;
    background-color: rgba(156, 156, 156, 0.87);
    width: 100%;
    padding-top: 70px;
    padding-bottom: 15px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.hd-container h2 {
    color: white;
    position: relative;
    z-index: 0;
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    letter-spacing:2px;
    font-size: 24px;
}


/* CARDS */
.card-footer {
    border: none;
    background-color: white;
}

.card-footer .btn {
    border-radius: 0;
    background-color: rgb(252, 101, 0);
    border: 1px solid rgb(252, 101, 0);
    color: white;
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Federo', sans-serif;
    display: block;
}

.card-deck>.card {
    box-shadow: 5px 7px 7px 0.5px #adadad21;
}

.card-deck h5 {
    font-family: 'Grenze', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.7px;
}

.card-deck .btn {
    letter-spacing: 1px;
}
.card-deck .btn:hover {
    background-color: rgba(255, 102, 0, 0.603);
    border: 2px solid rgba(255, 102, 0, 0.603);
    color: white;
}

/* .card-deck img {
    filter: grayscale(2);
} */








@media(max-width:767px){
    .navbar-brand {
        font-size: 26px;
    }
}


/********************* MIN-WIDTH: 768PX *********************/
@media(min-width:768px){
    .submit {
        width: 50%;
        display: block;
    }


    .navbar-brand {
        font-size: 26px;
    }
    .carousel img{
        height: 350px;
    }
    .sp-container .btn {
        width: 50%;
        margin: 0 auto;
        display: block;
        background-color: transparent;
        border: 3px solid rgb(252, 101, 0);
        color: rgb(252, 101, 0);
    }

    .jumbotron {
        background-position: 0px -70px;
    }
    .spHolder {
        height: 280px;
        width: 100%;
    }

    .hd-container h2 {
        font-size: 27px;
    }
}

/********************* MIN-WIDTH: 992PX *********************/
@media(min-width:992px){
    .carousel-caption h1 {
        padding-right:250px;
    }
    .carousel-caption p{
        padding-right: 500px;
    }
    .carousel img{
        height: 400px;
    }
    .carousel-caption h1{
        font-size: 38px;
    }
    .sp-container h2 {
        font-size: 30px;
    }

    .jumbotron {
        background-position: 0px -160px;
    }
    .jumbotron>.inner {
        padding: 100px 30px;
    }
    .jumbotron h1 {
        font-size: 40px;
    }
    .spHolder {
        height: 330px;
        width: 100%;
    }
    .about-bg .container {
        width: 730px;
    }
    .about-bg h4 {
        font-size: 40px;
    }

    .t-container h2 {
        font-size: 35px;
    }

    .hd-container {
        padding-top: 90px;
        padding-bottom: 15px;
        top: -15px;
    }
    
    .hd-container h2 {
        font-size: 33px;
    }

}
/********************* MIN-WIDTH: 1200PX *********************/
@media(min-width:1200px){
    .carousel-caption h1 {
        font-size: 45px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
    .about-caption {
        width: 300px;
        /* /* margin: 200px auto; */
    }
    #quote p {
        font-size: 23px;
    }
    .superdiv #anotherP {
        font-size: 17px;
    }
    .sp-container p {
        font-size: 16px;
    }

    .jumbotron {
        background-position: 0px -200px;
    }
    .jumbotron>.inner {
        padding: 130px 30px;
    }
    .spHolder {
        height: 360px;
        width: 100%;
    }
    .about-bg .container {
        width: 830px;
    }

    .hd-container {
        padding-top: 120px;
        padding-bottom: 15px;
        top: -42px;
    }
    .hd-container h2 {
        font-size: 36px;
        padding-left: 40px;
    }

    .card-deck h5 {
        line-height: 1.4
    }
}