@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|PT+Sans|PT+Serif|Playfair+Display|Roboto');


body {
    margin: 0px;
}

nav {
    position: sticky;
}

h1 {
    color:rgb(63, 63, 63);
    font-size: 17px;
    text-align: center;
}

spam {
    letter-spacing: 2px;
    color: rgb(92, 64, 37);
    font-size: 24px;
    padding-left: 3px;
}

.superdiv {
    text-align: center;
    height: 970px;
}

p {
    color: rgb(63, 63, 63);
    font-size: 15px;
    line-height: 1.5;
}

.linkToAbout {
    color: white;
    background-color: rgba(153, 109, 68, 0.945);
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
}

.linkToAbout:hover {
    background-color: rgb(182, 182, 182);
}

.hours {
    background-color: rgba(226, 202, 166, 0.521);
    color: rgb(75, 75, 75);
    font-size: 16px;
    margin: 10px 50px;
    border-radius: 3px;
    padding: 10px 0px;
    margin-bottom: 25px;
}

.hours > p {
    margin: 0px;
}

.linkToProducts {
    color: white;
    background-color: rgba(153, 109, 68, 0.945);
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
}

.linkToProducts:hover {
    background-color: rgb(182, 182, 182);
}













/************************* max-width:768px ***********************/
@media (max-width:768px) {

    body {
        margin-top:0px;
        padding-top:0px;
    }

    nav {
        box-shadow: 0px 1px 4px grey;
        position:fixed;
        width:100%;
        background-color:#ffffffe6;
    }

    nav ul {
        margin: 0px;
        padding: 21px 0px 7px 0px;
        text-align: center;
    }

    nav li a{
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 5px;
        color: rgb(92, 64, 37);
    }

    nav li {
        list-style-type: none;
        display: inline-block;
        padding-right: 8px;
        padding-left: 8px;
    } 

    nav p:first-child {
        text-align: center;
        padding: 1px 0px 0px 0px;
        font-size: 22px;
        margin: 0px;
        background-color: rgb(92, 64, 37);
        font-size:20px;
        letter-spacing:2px;
    }

    nav p a {
        color: white;
        text-decoration: none;
    }

    .activelink {
        border-bottom: 3px solid rgb(92, 64, 37);
    }

    nav ul li:hover {
        background-color: rgba(167, 167, 167, 0.432);
        border-radius: 2px;
    }

    .mitten1 {
        width: 100%;
        padding-top:10px;
        margin-top:77px;
    }

    .imageContainer {
        margin-top:35px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom: 25px;
    }

    .small-width-50 {
         width: 48%;
    }

    .mitten2 {
        margin-right: 2.5px;
        margin-bottom: 2.5px;
    }

    .mitten3 {
        margin-left: 2.5px;
        margin-bottom: 2.5px;
    }

    .mitten4 {
        margin-right: 2.5px;
    }

    .mitten5 {
        margin-left: 2.5px;
    }

    .map{
        width: 88%;
        margin-top:40px;
        margin-bottom:40px;
    }

    .location {
        background-color: rgba(226, 202, 166, 0.521);
        color: rgb(75, 75, 75);
        font-size: 16px;
        border-radius: 3px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:25px;
    }

    .location >p {
        margin-top:0px;
        margin-bottom:0px;
    }

    .clearfix {
        display: none;
    }

    .clearfix2 {
        display: none;
    }

}

/************************* ends max-width:768px ***********************/
















/************************* min-width:769px ***********************/
@media (min-width:769px){

    body {
        background-image: url(img/mitten1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top:0px;
        padding-top:0px;
    }

    nav {
        position:fixed;
        width:100%;
        background-color:#99876c4f;
        height:101px;
    }

    .superdiv {
        height:1230px;
    }

    .mitten1 {
        display: none;
    }

    .clearfix {
        clear: both;
        height:571px;
    }

    nav ul {
        margin: 0px;
        float: right;
        margin-right:0px;
        margin-top:64px;
    }

    nav li a{
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    nav li {
        list-style-type: none;
        display: inline-block;
        padding-right: 30px;
        padding-left: 30px;
        padding-top:10px;
        padding-bottom:10px;
    } 

    nav p:first-child {
        font-size:50px;
        letter-spacing:10px;
        float: left;
        margin-top:23px;
        margin-left:30px;
        font-size:66px;   
    }

    nav p a {
        color: white;
        text-decoration: none;
    }

    .activelink {
        border-bottom: 2px solid white;
    }

    nav ul li:hover {
        background-color: rgba(167, 167, 167, 0.432);
        border-radius: 2px;
    }

    h1 {
        font-size:24px;
    }
    p {
        font-size:17px;
    }

    .hours {
        margin-left:70px;
        margin-right:70px;

    }

    .imageContainer {
        margin-top:50px;
        margin-bottom:35px;

    }

    .small-width-50 {
        width: 48%;
   }

   .mitten2 {
       margin-right: 2.5px;
       margin-bottom: 2.5px;
   }

   .mitten3 {
       margin-left: 2.5px;
       margin-bottom: 2.5px;
   }

   .mitten4 {
       margin-right: 2.5px;
   }

   .mitten5 {
       margin-left: 2.5px;
   }

   .linkToAbout {
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
   }

   .linkToProducts {
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
   }

   .clearfix2 {
       clear: both;
   }

   .map{
    width:43%;
    margin-top:40px;   
    float: left;
    margin-left:38px;
    }

    .location {
        margin-top:0px;
        margin-top:90px;
        padding-right:0px;
        padding-left:0px;
        float:right;
        width:369.75px;
        margin-bottom:42px;
        background-color:#f0e3d0;
        border-radius:3px;
        margin-bottom:26px;
        margin-top:80px;
        margin-right:13px;
    }

}

/************ ends min-width:769px ***********************/

















/************************* min-width:850px ***********************/
@media (min-width:850px){
    .location {
        margin-right: 40px;
    }

    .clearfix {
        height:606px;
    }

    .map {
        margin-bottom: 40px;
    }
}
/************************* ends min-width:850px ***********************/














/************************* min-width:900px ***********************/
@media (min-width:900px){

    .clearfix {
        height:660px;
    }

    nav ul {
        margin-right:20px;
    }

    .clearfix {
        height:690px;
    }

    .map {
        width:48%;
    }

    nav p:first-child {
        margin-left:40px;
    }
}
/************************* ends min-width:900px ***********************/



















/************************* min-width: 1030px ***********************/
@media (min-width:1030px){

    .clearfix {
        height:747px;
    }

    .hours {
        margin-left:150px;
        margin-right:150px;
    }

    .location {
        margin-top:103px;
    }

}
/************************* ends min-width: 1030px *********


















/************************* min-width: 1110px ***********************/
@media (min-width:1110px){

    .clearfix {
        height:810px;
    }

    h1 {
        font-size:28px;
    }

    spam {
        font-size: 37px;
    }

    p {
        font-size:20px;
    }

    .linkToAbout {
        font-size:20px;
    }

    .linkToProducts {
        font-size:20px;
    }

    .hours {
        margin-bottom:43px;
    }

    .map {
        margin-top:61px;
    }

    .location {
        margin-top:147px;
        width:436.75px;
    }
}
/************************* ends min-width: 1110px *********



















/************************* min-width: 1210px ***********************/
@media (min-width:1210px){

    .clearfix {
        height:870px;
    }

}
/************************* ends min-width: 1210px ********************/











/************************* min-width: 1300px ***********************/
@media (min-width:1300px){

    .clearfix {
        height:925px;
    }

    .hours {
        border-left-style:solid;
        margin-left:220px;
        border-left-width:0px;
        margin-right:220px;

    }

    .location {
        width:523.75px;
        margin-right:45px;
    }

    .map {
        margin-left:45px;
    }

    .linkToAbout {
        padding-top:13px;
        padding-bottom:13px;
        padding-left:35px;
        padding-right:35px;
    }

    .linkToProducts {
        padding-top:13px;
        padding-bottom:13px;
        padding-left:35px;
        padding-right:35px;
    }

    nav p:first-child {
        margin-left:60px;
    }

    nav ul {
        margin-right:50px;
    }

}
/************************* ends min-width: 1300px ********************/