nav {
    background-color: rgb(184, 121, 4);
}

.content {
    border-bottom: 2px solid rgb(173, 173, 173);
}

.content2 {
    border-bottom: none;
}

.content .logo:hover {
    opacity: 0.5;
}

p {
    color: rgb(70, 70, 70);
}

h1 {
    text-align: center;
}

@media (min-width:992px) {
    .content {
        border-bottom: none;
    }
}