@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');



body {
    margin: 0px;
}

nav {
    position: fixed;
}

/* iPhone 6 font size */
h1 {
    color:rgb(63, 63, 63);
    font-size: 18px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

/* mitten */
spam {
    letter-spacing: 2px;
    color: rgb(92, 64, 37);
    font-size: 24px;
    padding-left: 3px;
}

/* container for the content */
.superdiv {
    text-align: center;
}

p {
    color: rgb(63, 63, 63);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Crimson Text', serif;
}

.superdiv > p:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 22px;
}


/* button */
.linkToAbout {
    color: white;
    background-color: rgba(153, 109, 68, 0.945);
    text-decoration: none;
    border-radius: 3px;
    font-family: 'Crimson Text', serif;
    padding-top: 5px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 8px;
    font-size: 17px;
}

.linkToAbout:hover {
    box-shadow: inset 0 0 10px #202020ad;
}

.hours {
    background-color: rgba(226, 202, 166, 0.521);
    color: rgb(75, 75, 75);
    font-size: 16px;
    margin: 10px 50px;
    border-radius: 3px;
    padding: 10px 0px;
    margin-bottom: 28px;
}

.hours > p {
    margin: 0px;
}

/* button */
.linkToProducts {
    color: white;
    background-color: rgba(153, 109, 68, 0.945);
    text-decoration: none;
    border-radius: 3px;
    font-family: 'Crimson Text', serif;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
}

.linkToProducts:hover {
    box-shadow: inset 0 0 10px #202020ad;
}

/* contact.html */
.contact-container {
    width:100%;
    margin: auto;
    padding-top:100px;
}

.contact-second-container{
    width:310px;
    margin:auto;
    background-color:rgba(226, 202, 166, 0.521);
    padding-top:34px;
    padding-left: 10px;
    border-radius: 5px;
}

.contact-space {
    width: 100%;
    height: 20px;
}

textarea {
    width: 290px;
}

.form-input {
    width: 283px;
    height:24px;
    margin-top:5px;
    border-radius: 5px;
    border: 2px solid rgba(160, 160, 160, 0.521);
}

.form-input:hover {
    border: 2px solid rgb(212, 185, 143);
}

input {
    font-size: 12px;
    padding-left: 10px;
    color: rgb(63, 63, 63);
}

label {
    color: rgb(63, 63, 63);
    font-family: 'Crimson Text', serif;
}

.firstname {
    margin-bottom:3px;
}

textarea {
    border: 2px solid #cdcdcd;
    padding-left: 10px;
    color: #3f3f3f;
    height: 145px;
    margin-bottom: 18px;
    margin-top: 6px;
    border-radius: 5px;
    padding-top: 8px;
    width: 283px;
}

textarea:hover {
    border: 2px solid rgb(212, 185, 143);
}

.submit {
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    background-color:rgba(153, 109, 68, 0.945);
    color: white;
    border: 2px solid rgba(153, 109, 68, 0.945);
    margin: 2px auto;
    display: inherit;
}

.submit:hover {
    box-shadow: inset 0 0 10px #202020ad;
}
/* ends contact.html */


/*********** about.html ***********/
.about-container {
    padding-top: 87px;
    padding-left: 10px;
    padding-right: 10px;
}

.mittenbuilding {
    width: 100%;
}

/* 紹介文 */
.aboutus {
    margin-bottom: 35px;
    padding-left: 5px;
    font-family: 'Crimson Text', serif;
}

/* Teamのheader */
.teamhead {
    font-size: 22px;
    border-top: 2px solid rgba(196, 139, 51, 0.23);
    border-bottom: 2px solid rgba(196, 139, 51, 0.23);
    color: rgb(92, 64, 37);
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Crimson Text', serif;
    background-color: rgba(196, 139, 51, 0.23);
}

/* 顔写真のcontainer */
.teamimg-container {
    width: 250px;
    margin: auto;
}

/* name */
h2 {
    color: rgba(153, 109, 68, 0.945);
    font-size: 20px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    margin-top: 0px;
}

/* job title */
.title {
    margin-bottom: 0px;
    font-family: 'Crimson Text', serif;
}

/* teammemberの紹介文 */
.aboutteam {
    padding-left: 5px;
    font-family: 'Crimson Text', serif;
}


p.aboutteam:nth-child(11) {
    margin-bottom: 45px;
}

/* かっちの下のborder */
.team1 {
    border-bottom: 2px solid rgba(196, 139, 51, 0.23);
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}

/*********** ends about.html ***********/










/************************* max-width:768px (iPad) ***********************/
@media (max-width:768px) {

    body {
        margin-top:0px;
        padding-top:0px;
    }


    /* nav bar */
    nav {
        box-shadow: 0px 1px 4px grey;
        position: fixed;
        width:100%;
        background-color:#ffffffe6;
    }

    nav ul {
        margin: 0px;
        padding: 14px 0px 7px 0px;
        text-align: center;
    }

    nav li a{
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 5px;
        color: rgb(92, 64, 37);
        font-family: 'Crimson Text', serif;
    }

    nav li {
        list-style-type: none;
        display: inline-block;
        padding-right: 8px;
        padding-left: 8px;
    } 

    nav p:first-child {
        text-align: center;
        padding: 0px;
        font-size: 22px;
        margin: 0px;
        background-color: rgb(92, 64, 37);
        font-size:20px;
        letter-spacing:2px;
    }

    nav p a {
        color: white;
        text-decoration: none;
    }

    .activelink {
        border-bottom: 3px solid rgb(92, 64, 37);
    }

    nav ul li:hover {
        background-color: rgba(167, 167, 167, 0.432);
        border-radius: 2px;
    }
    /* nav bar */


    /* image 1 */
    .mitten1 {
        width: 100%;
        padding-top:10px;
        margin-top:77px;
    }

    /* product images */
    .imageContainer {
        margin-top:35px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom: 25px;
    }

    .small-width-50 {
         width: 48%;
    }

    .mitten2 {
        margin-right: 2.5px;
        margin-bottom: 2.5px;
    }

    .mitten3 {
        margin-left: 2.5px;
        margin-bottom: 2.5px;
    }

    .mitten4 {
        margin-right: 2.5px;
    }

    .mitten5 {
        margin-left: 2.5px;
    }
    /* product images */


    .map{
        width: 88%;
        margin-top:40px;
        margin-bottom:40px;
    }

    .location {
        background-color: rgba(226, 202, 166, 0.521);
        color: rgb(75, 75, 75);
        font-size: 16px;
        border-radius: 3px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:25px;
    }

    .location >p {
        margin-top:0px;
        margin-bottom:0px;
    }

    .clearfix {
        display: none;
    }

}

/************************* ends max-width:768px ***********************/












/************************* smaller-width-100 (max-width-450px) ***************************/
@media (max-width:450px) {
    .smaller-width-100 {
        width: 100%;
    }
}
/*********************** ends smaller-width-100 (max-width-450px) *************************/












/************************* min-width:450px ***************************/
@media (min-width:450px) {
    nav li {
        padding-right: 18px;
        padding-left: 18px;
    } 

    /* iPhone 6 font size */
    h1 {
        font-size: 20px;
    }

    /* mitten */
    spam {
        font-size: 27px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }

    .location {
        margin-left:32px;
        margin-right:32px;
    }

    .map {
        width: 396px;
    }

    .linkToAbout{
        font-size:18px;
    }

    .linkToProducts{
        font-size:18px;
    }

    .clearfix {
        display: none;
    }

    /* contact.html */
    .contact-second-container{
        width: 440px;
    }

    .contact-content {
        width: 310px;
        margin: auto;
    }
}
/************************* ends min-width:450px ***************************/










/**************************** min-width:640px **************************/
@media (min-width:640px){

    /* float map */
    .map {
        width:48%;
        float: left;
        margin-left:10px;
    }

    /* float location */
    .location {
        width: 47%;
        margin-left: 0px;
        margin-right: 0px;
        float: left;
        margin-left:10px;
        margin-top:60px;
        font-size:12px;
    }

    .linkToAbout{
        font-size:20px;
    }

    .linkToProducts{
        font-size:20px;
    }

    .clearfix2 {
        clear: both;
        height:25px;
    }

    .clearfix {
        clear: both;
    }

    .contact-second-container {
        width: 600px;
    }

    .centered-content {
        text-align: center;
    }
}
/**************************** ends min-width:640px **************************/











/***************************** min-width:769px ****************************/
@media (min-width:769px){

    body {
        margin-top:0px;
        padding-top:0px;
    }

    /* change nav style */
    nav {
        position:fixed;
        width:100%;
        background-color:#99876c4f;
        height:101px;
    }

    .mitten1 {
        width: 100%;
    }

    nav ul {
        margin: 0px;
        float: right;
        margin-right:0px;
        margin-top:64px;
    }

    nav li a{
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    nav li {
        list-style-type: none;
        display: inline-block;
        padding-right: 20px;
        padding-left: 20px;
        padding-top:10px;
        padding-bottom:10px;
    } 

    nav p:first-child {
        font-size:50px;
        letter-spacing:10px;
        float: left;
        margin-top:23px;
        margin-left:30px;
        font-size:66px;   
    }

    nav p a {
        color: white;
        text-decoration: none;
    }

    .activelink {
        border-bottom: 2px solid white;
    }

    nav ul li:hover {
        background-color: rgba(167, 167, 167, 0.432);
        border-radius: 2px;
    }
    /* change nav style */

    h1 {
        font-size:24px;
    }

    p {
        font-size:17px;
    }

    .hours {
        margin-left:70px;
        margin-right:70px;
        margin-bottom:35px;
    }

    .imageContainer {
        margin-top:50px;
        margin-bottom:35px;

    }

    .small-width-50 {
        width: 48%;
   }

   .mitten2 {
       margin-right: 2.5px;
       margin-bottom: 2.5px;
   }

   .mitten3 {
       margin-left: 2.5px;
       margin-bottom: 2.5px;
   }

   .mitten4 {
       margin-right: 2.5px;
   }

   .mitten5 {
       margin-left: 2.5px;
   }

   .linkToAbout {
        margin-top:0px;
        padding-top:9px;
        padding-bottom:9px;
        padding-left:15px;
        padding-right:15px;
   }

   .linkToProducts {
        margin-top:0px;
        padding-top:9px;
        padding-bottom:9px;
        padding-left:15px;
        padding-right:15px;
    }

   .map{
        margin-right:5px;
        margin-bottom: 100px;
    }

    .location {
        padding-left: 3px;
        padding-right: 3px;
        background-color:#f0e3d0;
        border-radius:3px;
        margin-bottom:26px;
        margin-top:80px;
        margin-right:0px;
        width: 45%;
        margin-left: 20px;
    }

    .clearfix {
        clear: both;
    }

    .contact-second-container {
        margin-top: 41px;
    }

    nav ul {
        font-family: 'Crimson Text', serif;
        margin-top: 52px;        
    }

    nav li a {
        font-size: 23px;
    }

    nav p:first-child {
        margin-top: 15px;
    }

    body > nav:nth-child(1) > ul:nth-child(2) > li:nth-child(4) {
        padding-right: 35px;
    }

    .contact-nav {
        background-color: #99876c96;
    }

    .team-floater {
        float: left;
        width: 50%;
    }

    .about-container {
        padding-top: 101px;
    }

    .clearfix3 {
        clear: both;
    }

    .team1 {
        min-height: 300px;
        padding-bottom: 40px;
    }

    .team2 {
        padding-top: 25px;
    }

    .mittenbuilding {
        width: 80%;
        margin: auto;
    }
    

}
/***************************** ends min-width:769px ****************************/












/****************************** min-width:1000px ****************************/
@media (min-width:1000px){
    .clearfix {
        clear: both;
    }

    .clearfix2{
        height:85px;
    }

    .map{
        margin-left:20px;
    }

    .location{
        margin-left:20px;
    }

    .contact-second-container {
        width: 790px;
        margin-top: 41px;
        padding-top: 46px;
    }

    label {
        font-size: 18px;
    }

    .firstname {
        width: 345px;
        height: 35px;
    }

    .form-input {
        width: 345px;
        height: 35px;
    }

    textarea {
        width: 345px;
        height: 200px;
    }

    .contact-content {
        width: 360px;
    }

    .contact-space {
        height: 35px;
    }

    h1 {
        font-size: 27px;
    }

    p {
        font-size: 19px;
    }

    spam {
        font-size: 39px;
    }

    .linkToAbout {
        font-size: 21px;
        padding-bottom: 11px;
    }

    .linkToProducts {
        font-size: 21px;
        padding-bottom: 11px;
    }

    .imageContainer {
        margin-top: 70px;
    }

    nav p:first-child {
        padding-left: 48px;
    }

    input {
        font-size: 14px;
    }

    body > nav:nth-child(1) > ul:nth-child(2) > li:nth-child(4) {
        padding-right: 50px;
    }

    nav ul li {
        padding-left: 27px;
        padding-right: 27px;
    }

    .team1 {
        padding-top: 15px;
        padding-bottom: 29px;
    }
}
/****************************** ends min-width:1000px ****************************/

