body {
    margin: 0px;
}

nav {
    position: fixed;
}

/* iPhone 6 font size */
h1 {
    color:rgb(63, 63, 63);
    font-size: 17px;
    text-align: center;
}

/* mitten */
spam {
    letter-spacing: 2px;
    color: rgb(92, 64, 37);
    font-size: 24px;
    padding-left: 3px;
}

/* container for the content */
.superdiv {
    text-align: center;
}

p {
    color: rgb(63, 63, 63);
    font-size: 15px;
    line-height: 1.5;
}

/* button */
.linkToAbout {
    color: white;
    background-color: rgba(153, 109, 68, 0.945);
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
}

.linkToAbout:hover {
    background-color: rgb(182, 182, 182);
}

.hours {
    background-color: rgba(226, 202, 166, 0.521);
    color: rgb(75, 75, 75);
    font-size: 16px;
    margin: 10px 50px;
    border-radius: 3px;
    padding: 10px 0px;
    margin-bottom: 25px;
}

.hours > p {
    margin: 0px;
}

/* button */
.linkToProducts {
    color: white;
    background-color: rgba(153, 109, 68, 0.945);
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
}

.linkToProducts:hover {
    background-color: rgb(182, 182, 182);
}




/************************* max-width:768px (iPad) ***********************/
@media (max-width:768px) {

    body {
        margin-top:0px;
        padding-top:0px;
    }


    /* nav bar */
    nav {
        box-shadow: 0px 1px 4px grey;
        position: fixed;
        width:100%;
        background-color:#ffffffe6;
    }

    nav ul {
        margin: 0px;
        padding: 21px 0px 7px 0px;
        text-align: center;
    }

    nav li a{
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 5px;
        color: rgb(92, 64, 37);
    }

    nav li {
        list-style-type: none;
        display: inline-block;
        padding-right: 8px;
        padding-left: 8px;
    } 

    nav p:first-child {
        text-align: center;
        padding: 1px 0px 0px 0px;
        font-size: 22px;
        margin: 0px;
        background-color: rgb(92, 64, 37);
        font-size:20px;
        letter-spacing:2px;
    }

    nav p a {
        color: white;
        text-decoration: none;
    }

    .activelink {
        border-bottom: 3px solid rgb(92, 64, 37);
    }

    nav ul li:hover {
        background-color: rgba(167, 167, 167, 0.432);
        border-radius: 2px;
    }
    /* nav bar */


    /* image 1 */
    .mitten1 {
        width: 100%;
        padding-top:10px;
        margin-top:77px;
    }

    /* product images */
    .imageContainer {
        margin-top:35px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom: 25px;
    }

    .small-width-50 {
         width: 48%;
    }

    .mitten2 {
        margin-right: 2.5px;
        margin-bottom: 2.5px;
    }

    .mitten3 {
        margin-left: 2.5px;
        margin-bottom: 2.5px;
    }

    .mitten4 {
        margin-right: 2.5px;
    }

    .mitten5 {
        margin-left: 2.5px;
    }
    /* product images */


    .map{
        width: 88%;
        margin-top:40px;
        margin-bottom:40px;
    }

    .location {
        background-color: rgba(226, 202, 166, 0.521);
        color: rgb(75, 75, 75);
        font-size: 16px;
        border-radius: 3px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:25px;
    }

    .location >p {
        margin-top:0px;
        margin-bottom:0px;
    }

    .clearfix {
        display: none;
    }

}

/************************* ends max-width:768px ***********************/
















/************************* min-width:450px ***************************/
@media (min-width:450px) {
    nav li {
        padding-right: 18px;
        padding-left: 18px;
    } 

    /* iPhone 6 font size */
    h1 {
        font-size: 20px;
    }

    /* mitten */
    spam {
        font-size: 27px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }

    .location {
        margin-left:32px;
        margin-right:32px;
    }

    .map {
        width: 396px;
    }

    .linkToAbout{
        font-size:18px;
    }

    .linkToProducts{
        font-size:18px;
    }

    .clearfix {
        display: none;
    }
}
/************************* ends min-width:450px ***************************/















/**************************** min-width:640px **************************/
@media (min-width:640px){

    /* float map */
    .map {
        width:48%;
        float: left;
        margin-left:10px;
    }

    /* float location */
    .location {
        width: 47%;
        margin-left: 0px;
        margin-right: 0px;
        float: left;
        margin-left:10px;
        margin-top:60px;
        font-size:12px;
    }

    .linkToAbout{
        font-size:20px;
    }

    .linkToProducts{
        font-size:20px;
    }

    .clearfix2 {
        clear: both;
        height:25px;
    }

    .clearfix {
        clear: both;
    }
}
/**************************** ends min-width:640px **************************/














/***************************** min-width:769px ****************************/
@media (min-width:769px){

    body {
        margin-top:0px;
        padding-top:0px;
    }

    /* change nav style */
    nav {
        position:fixed;
        width:100%;
        background-color:#99876c4f;
        height:101px;
    }

    .mitten1 {
        width: 100%;
    }

    nav ul {
        margin: 0px;
        float: right;
        margin-right:0px;
        margin-top:64px;
    }

    nav li a{
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    nav li {
        list-style-type: none;
        display: inline-block;
        padding-right: 30px;
        padding-left: 30px;
        padding-top:10px;
        padding-bottom:10px;
    } 

    nav p:first-child {
        font-size:50px;
        letter-spacing:10px;
        float: left;
        margin-top:23px;
        margin-left:30px;
        font-size:66px;   
    }

    nav p a {
        color: white;
        text-decoration: none;
    }

    .activelink {
        border-bottom: 2px solid white;
    }

    nav ul li:hover {
        background-color: rgba(167, 167, 167, 0.432);
        border-radius: 2px;
    }
    /* change nav style */

    h1 {
        font-size:24px;
    }

    p {
        font-size:17px;
    }

    .hours {
        margin-left:70px;
        margin-right:70px;
        margin-bottom:35px;
    }

    .imageContainer {
        margin-top:50px;
        margin-bottom:35px;

    }

    .small-width-50 {
        width: 48%;
   }

   .mitten2 {
       margin-right: 2.5px;
       margin-bottom: 2.5px;
   }

   .mitten3 {
       margin-left: 2.5px;
       margin-bottom: 2.5px;
   }

   .mitten4 {
       margin-right: 2.5px;
   }

   .mitten5 {
       margin-left: 2.5px;
   }

   .linkToAbout {
        margin-top:0px;
        padding-top:9px;
        padding-bottom:9px;
        padding-left:15px;
        padding-right:15px;
   }

   .linkToProducts {
        margin-top:0px;
        padding-top:9px;
        padding-bottom:9px;
        padding-left:15px;
        padding-right:15px;
    }

   .map{
        margin-right:5px;
    }

    .location {
        padding-left: 3px;
        padding-right: 3px;
        background-color:#f0e3d0;
        border-radius:3px;
        margin-bottom:26px;
        margin-top:80px;
        margin-right:0px;
        width: 45%;
        margin-left: 20px;
    }

    .clearfix {
        clear: both;
    }

}
/***************************** ends min-width:769px ****************************/














/****************************** min-width:1000px ****************************/
@media (min-width:640px){

}