.floater-section {
    background-color: bisque;
    height:200px;
    width:500px;
    margin:auto;
    margin-bottom: 20px;
}

.floater-section:nth-child(2) {
    line-height: 200px;
    background-color:#c4e1ff;
}

.content {
    position: relative;
}

#vertCenter1 {
    position: relative;
    height: 200px;
}

#vertCenter1 img {
    position: absolute;
    display: block;
    top: 50%;
    height: 100px;
}

#lorem1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 180px;
    margin-left: -230px;
    text-align: center;
    width: 450px;

}

.area { 
    width: 300px; 
    height: 300px; 
    background-color: pink;
    position: relative;

  }
  
  .bubble { 
    position: absolute; 
    left: 93px; 
    top: 21px; 
    width: 135px; 
    height: 84px; 
    display: table; 
    background-color: aliceblue;
  }
  
  .bubble p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
  }

#vertHorizCenter1 {
    position: absolute;
    top: 50%;
    left: 50%;
}