.donate_container {
    padding: 0px 10px;
    margin: 20px 20px;
    padding-bottom: 20px;
}

#donate_title {
    font-size: 30px;
    color: rgb(61, 61, 61);
    font-family: 'Abel', sans-serif;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#donate_p {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

.donate_form {
    background-color: white;
    padding: 30px 20px;
    padding-top: 0px;
}

#donationform {
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 0px;
}

.option {
    width: 100%;
    padding: 15px 0px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(194, 194, 194);
    font-size: 18px;
    border: 2px solid rgb(194, 194, 194);
    color: white;
}

.option:hover {
    background-color: #6db3f8;
    border: 2px solid #6db3f8;
}

.active_button {
    background-color: #469ef7;
    border: 2px solid #469ef7;
}

#other {
    width: 93%;
    padding: 15px 0px;
    border-radius: 3px;
    background-color: white;
    font-size: 18px;
    border: 2px solid rgb(194, 194, 194);
    padding-left: 20px;
    color: rgb(61, 61, 61);
}

#other:hover {
    border: solid 2px #469ef7;
    background-color: #b6dbff;
}

label {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}

#username {
    width: 268px;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    padding-left: 20px;
    color: rgb(61, 61, 61);
}

input:hover {
    border: 2px solid rgb(255, 224, 47);
}

#email {
    width: 268px;
    margin-bottom: 30px;
}

#cardnumber {
    width: 268px;
}

#security {
    width: 50px;
}

#zipcode {
    width: 80px;
}

#information {
    width: 18px;
    padding: 0px 10px;
}

#informationdiv {
    width: 160px;
    position: absolute;
    margin-left: 146px;
    margin-top: -20px;  
}

#informationdiv img {
    width: 160px;
}

#submit {
    width: 320px;
    background-color: #469ef7;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    border-radius: 3px;
    padding: 10px;
    border: 2px solid #469ef7;
    margin: 30px auto;
    display: block;
}

#submit:hover {
    background-color: #85c2ff;
}

#success {
    background-color: white;
    border: 4px solid greenyellow;
    border-radius: 4px;
    padding: 10px 10px;
    margin-top: 25px;
    display: none;
}

.success {
    width: 50px;
    position: absolute;
}

.message {
    font-family: 'Oxygen', sans-serif;
    color: rgb(83, 83, 83);
    font-size: 17px;
    margin-left: 66px;
}

@media (min-width:768px) {
    .donate_container {
        margin: 20px auto;
        padding-left: 0px;
        padding-right: 0px;
        width: 711px;
    }

    .option {
        width: 47%;
        float: left;
        margin: 10px;
    }

    #other {
        width: 44%;
        float: left;
        margin-left: 10px;
    }

    #form {
        margin-left: 40px;
    }

    #username {
        width: 400px;
    }

    #email {
        width: 400px;
    }

    #cardnumber {
        width: 400px;
    }

    #security {
        width: 65px;
    }

    #zipcode {
        width: 100px;
    }

    .donate_form {
        width: 728px;
        margin: 0px auto;
    }

    #donate_title {
        text-align: center;
    }

    #donate_p {
        margin-top: 19px;
        width: 650px;
        padding-left: 40px;
    }
}

.blog_container {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#blog_title {
    font-size: 30px;
    color: rgb(61, 61, 61);
    font-family: 'Abel', sans-serif;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.blog {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0pc auto;
}

.blog1 {
    margin-bottom: 100px;
}

.blog2 {
    margin-bottom: 100px;
}

.blog3 {
    margin-bottom: 100px;
}

.blog_p {
    font-family: 'Oxygen', sans-serif;
    color: rgb(61, 61, 61);
    font-size: 14px;
    width: 340px;
    margin: 0px auto;
}

#blog_img1 {
    width: 330px;
    height: 220px;
    margin: 0px auto;
    background-image: url("../img/blog1.jpg");
    border-radius: 3px;
}

#blog_img2 {
    width: 330px;
    height: 220px;
    margin: 0px auto;
    background-image: url("../img/blog2.jpg");
    background-position-x: 696px;
    background-position-y: -362px;
    border-radius: 3px;
}

#blog_img3 {
    width: 330px;
    height: 220px;
    margin: 0px auto;
    background-image: url("../img/blog3.jpg");
    background-position-x: 525px;
    background-position-y: -217px;
    border-radius: 3px;
}

.blog h1 {
    font-size: 25px;
    color: rgb(61, 61, 61);
    font-family: 'Abel', sans-serif;
    margin-left: 0px;
}

.read {
    padding: 10px 50px;
    background-color: #f7c900;
    color: white;
    border: 2px solid #f7c900;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 20px;
}

.read:hover {
    background-color: #ffe56f;
    border: 2px solid #ffe56f;
}
@media(min-width:768px){
#blog_img1 {
    float: left;
}

#blog_img2 {
    float: left;
}

#blog_img3 {
    float: left;
}

.blog h1 {
    float: left;
    margin-left: 40px;
}

.blog_p {
    float: left;
    text-align: left;
    margin-left: 30px;
}
 
.blog1 {
    width: 728px;
}

.blog2 {
    width: 728px;
}

.blog3 {
    width: 728px;
}

.blog {
    width: 728px;
}

#blog_img1 {
    padding-left: 10px;
}

#blog_img2 {
    padding-left: 10px;
}

#blog_img3 {
    padding-left: 10px;
}

#blog_title{
    margin-bottom: 85px;
}
}